<h1>S3 Certified Pre-owned Vehicles</h1>
<p>Picture here explaning value prop for both sides</p>

<%= link_to "Seller", seller_path, :class => "front_button round" %>
<p> Description of seller </p>

<%= link_to "Buyer", buyer_path, :class => "front_button round" %>
<p> Description of buyer </P>


