  <div id="header" class="round">
    <%= image_tag("logo.png", :alt => "S3 Certified", :class => "round") %>
    <ul class="navigation round">
      <li><%= link_to "Seller", seller_path %></li>
      <li><%= link_to "Buyer", buyer_path %></li>
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </div>

